* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #e7e6e6;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(139, 63, 139);
}

.container {
    max-width: 960px;
    margin: 70px auto 30px auto;
    box-shadow: 20px 20px 10px #333;
    border-radius: 20px;
    background-color: #f4f4f4;

}

#head{
    background-color: #fff;
    padding: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#first_name{
    font-weight: none;
    color: rgb(139, 63, 139);
} 

#name {
    width: 50%;
    display: inline-block;
}

#details{
    width: 40%;
    display: inline-block;
    text-align: end;
}

#main {
    margin-top: 40px;
    margin-bottom: 40px;
}
.content {
    margin: 50px;
}
.content-body {
    margin-top: 20px;
}
ul {
    margin-left: 50px;
}

.title {
    color: rgb(139, 63, 139);
}
img {
    display: block;
    margin: 50px auto 50px auto;
    max-width: 400px;
}

